@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    flex-wrap: wrap;
    /* if background image is unavailable*/
   
    /* other main settings for body */
    background: url('../images/hero-image.jpg') no-repeat center fixed;
    background-size: cover;
  }

.site-header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;   
}

h1, h2 { 
    font-family: Permanent Marker, Impact, sans-serif;    
}

h1 {
    color: darkolivegreen;
    font-size: 170%;
    font-weight: lighter;
    background-color: rgba(255,251,255,.2);
    
}



h2 {
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 120%;
}

.logo > i { 
    color: #604664;
}



ul li {
    display: inline;
}


h3 {
    display: grid;
    flex: 1;
    margin-left: 30%;
    align-items: center;
    color: #2b2d2f;
    background-color:rgba(255,251,255,.5);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 150%;
}

 a {
    text-decoration: none;   
}

.nav-links {
    color: #604664;
    font-size: 100%;
    background-color: rgba(255,251,255,.1);
}

footer a {
    color: darkolivegreen;
    background-color: rgba(255,251,255,.5);
    font-size: 120%;
}

span { 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: darkolivegreen;
}